name: Publish Package

on:
  push:
    tags:
      - '*'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - name: Set up Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: 'stable'

    - name: Check out code
      uses: actions/checkout@v2

    - name: Get packages
      run: flutter pub get

    - name: Build package
      run: flutter pub publish --dry-run

    - name: Publish package
      run: flutter pub publish
